<div class='col-xs-4'>
  <%= form_for @task_master , url: yield(:path) do |f|%>
    <%= f.label :category %>
    <%= f.select :category, TaskMaster.categories.keys.to_a ,{} ,{class:'form-control'} %>
    
    <%= f.label :name %>
    <%= f.text_field :name, id: :name, class:'form-control' %>
    
    <%= f.label :detail %>
    <%= f.text_area :detail, id: :detail, class:'form-control' %>
    
    <%= f.submit 'submit', class:'btn btn-primary' %>
  <% end %>
</div>
