<div class='row'>
  <div class='col-xs-12'>
    <% if !@current_active_to_do_group.nil?%>
      <h2>現在の目標</h2>
      <table class='table'>
        <thead>
          <td>名前</td>
          <td>詳細</td>
          <td>アクション</td>
        </thead>
        <tbody>
          <tr>
            <td class='goal_name_component'>
              <p class='goal_name'><%= @current_active_to_do_group.name %></p>
                <% if @current_active_to_do_group.to_do_master_names.size > 0 %>
                  <ul class="popup">
                    <% for tdm in @current_active_to_do_group.to_do_master_names %>
                      <li><%= tdm %></li>
                    <% end %>
                  </ul>
                <% end %>
            </td>
            <td><%= @current_active_to_do_group.detail %></td>
            <td>
              <%= link_to '削除', release_to_do_group_path(@current_active_to_do_group.id), class: 'button' %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
    
    <h2>目標一覧</h2>
    <table class='table'>
      <thead>
        <td>名前</td>
        <td>詳細</td>
        <td>アクション</td>
      </thead>
      <tbody>
        <%= render partial: "goal", collection: @goals %>
      </tbody>
    </table>
  </div>
</div>