<div class='row'>
  <div class='col-xs-4'>
    <h4><%= current_user.username %></h4>
    <h4><%= link_to '目標一覧', goal_index_to_do_groups_path, class: 'button' %></h4>
    <% if @to_do_group.nil? %>
  </div>
    <% else %>
      <h4>目標：</br>　<%= @to_do_group.name %></h4>
      <h4>進捗：</h4>
      <div class="col-xs-10">
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= @fin_rate %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @fin_rate %>%;">
            <span class="sr-only"><%= @fin_rate %>% Complete</span>
          </div>
        </div>
        <p class='text-right'><%= @fin_to_dos_count %> / <%= @to_do_masters_count %></p>
      </div>
      <% if @achive and !@user_to_do_group.achieved? %>
        <h4><%= link_to '達成！', user_to_do_group_path(@user_to_do_group.id), class: 'button', method: :put  %></h4>
      <% elsif @user_to_do_group.achieved %>
        <h4 class='button'>達成済み</h4>
      <% end %>
  </div>
  <div class='col-xs-8'>
    <div class='text-right'>
      <%= link_to '未完了', pages_get_to_dos_path(:type => 1), method: "get",:remote => true, class: 'button' %>
      <%= link_to '完了', pages_get_to_dos_path(:type => 2), method: "get",:remote => true, class: 'button' %>
    </div>
    <div id='to_dos' class='to_do_bg'>
      <%= render 'to_dos' %>
    </div>
  </div>
    <% end %>
</div>